.card_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 350px;
    background-image: url("../../images/card3.png");
    box-shadow: 5px 5px 5px #252525;
    margin-bottom: 25px;
    margin-left: 10px;
    position: relative;
    border-radius: 15px;
}

.electric{
    background-image: url('../../images/Cards/electric.png');
}
.normal{
    background-image: url('../../images/Cards/normal.png');
}
.fire{
    background-image: url('../../images/Cards/fire.png');
}
.psychic{
   background-image: url('../../images/Cards/psychic.png');
}
.fighting{
   background-image: url('../../images/Cards/fighting.png');
}
.water{
   background-image: url('../../images/Cards/water.png');
}
.grass{
   background-image: url('../../images/Cards/grass.png');
}
.steel{
   background-image: url('../../images/Cards/steel.png');
}
.dragon{
   background-image: url('../../images/Cards/dragon.png');
}
.dark{
   background-image: url('../../images/Cards/dark.png');
}
.flying{
   background-image: url('../../images/Cards/flying.png');
}
.poison{
   background-image: url('../../images/Cards/poison.png');
}
.ground{
   background-image: url('../../images/Cards/ground.png');
}
.rock{
   background-image: url('../../images/Cards/rock.png');
}
.bug{
   background-image: url('../../images/Cards/bug.png');
}
.ghost{
   background-image: url('../../images/Cards/ghost.png');
}
.ice{
   background-image: url('../../images/Cards/ice.png');
}
.fairy{
   background-image: url('../../images/Cards/fairy.png');
}
.unknown{
   background-image: url('../../images/Cards/unknown.png');
}
.shadow{
   background-image: url('../../images/Cards/shadow.png');
}




.card_container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 180px;
    align-content: center;
    margin-left: 30px;
    margin-top: -30px;

}

.card_container1 * {
    box-sizing: border-box;
    transition: 400ms;
  }

.card_container1 :hover{
    transform: scale(1.1);
}



.card_container_title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 15px;
    padding-left: 15px;
    width: 250px;
    height: 40px;
}


.card_title{
    font-family: var(--font-title);
    font-size:22px;
    font-weight: bold;
    color: #ffce31; 
    text-shadow: -2px -2px 1px #373299, 2px 2px 1px #373299, -2px 2px 1px #373299, 2px -2px 1px #373299, 6px 6px 6px black;
    width: 190px;
    height: 20px;
    text-align: left;
    border-radius: 5px;
}

.card_img{
    position: relative;
    width: 200px;
    height: 180px;
    margin: 50px;
    object-fit: contain;
}



.card_container_types{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    /* height: 59px; */
    margin-top:-36px;

}

.types_name{
    font-family: 'VT323', monospace;
    font-size: 14px;
    font-weight: bold;
    color: rgb(1, 1, 1);
    text-decoration: none;
    background-color: rgb(227, 219, 219);
    width: 100px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    border: solid 1px black;
    border-radius: 5px;
    margin-top: 15px;
}


.text_attack{
    position: relative;
    left: 0px;
    top:-15px;
    font-family: 'VT323', monospace;
    font-size: 12px;
    font-weight: bold;
    color: rgb(1, 1, 1);
    text-decoration: none;
     width: 225px; 
    text-align: center;
    margin-right: 6px;
    margin-left: 162px;
    height: 15px;   
    
}