.flex {
  display: flex;
  justify-content: center;
}

.main_container {
  padding-top: 2rem;
  background-color: transparent;
  backdrop-filter: blur(3px);
  width: 700px;
  height: 500px;
  margin-right: 13rem;
  border-radius: 25px;
  border: 1px solid white;
}

.ash {
  height: 500px;
  transform: translateX(100px);
  z-index: 3;
}

.poke_img {
  height: 200px;
}

.stats_container {
  margin: 3rem auto 0;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.img_container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.stats {
  font-family: "VT323", monospace;
  font-size: 14px;
  font-weight: bold;
  color: rgb(1, 1, 1);
  text-decoration: none;
  background-color: rgb(227, 219, 219);
  padding-top: 15px;
  text-align: center;
  width: 100px;
  height: 50px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}

.types_container {
  display: flex;
  justify-content: space-around;
}

.exit_button {
  display: flex;
  position: absolute;
  width: 3rem;
  height: 3rem;
  right: 15px;
  top: 15px;
  border-radius: 15px;
  background-color: #d33f59;
  font-size: 20px;
  font-weight: bolder;
  color: #e1def1;
  transition: 0.1s ease-in-out all;
  align-items: center;
}

.exit_button svg {
  stroke-width: 3px;
}

.exit_button:hover {
  background-color: #e1def1;
  color: #d33f59;
}

.loading_container{
  display: flex;
  margin-top: 4rem;
  margin-right: 3rem;
  justify-content: center;
  align-items: center;
}