@font-face {
  font-family: "Adventure";
  src: url('../src/Fonts/Adventure.otf');
}

@font-face {
  font-family: "Adventure Hollow";
  src: url('../src/Fonts/Adventure_Hollow.otf');
}

:root{
  --font-title: "Adventure", sans-serif;
}

html, *, *::before,*::after{
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/images/fondoLogoCort.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
  background-color: #7fac71;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 50px;
  color: #ffce31;
  text-shadow: -2px -2px 1px #373299, 2px 2px 1px #373299, -2px 2px 1px #373299, 2px -2px 1px #373299, 8px 9px 1px black;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.pokemon_buttons{
  border-radius: 10px;
  font-size: 20px;
  width: 6rem;
  height: 2rem;
  color: #294397;
  font-family: 'Adventure';
  box-shadow:  3px 4px 0 black;;
  background: transparent;
  backdrop-filter: blur(1px);
  transition: .2s ease-in-out all;
  cursor: pointer;
}

.pokemon_buttons:focus{
  box-shadow: none;
}

.filter_buttons{
  border-radius: 10px;
  font-size: 20px;
  width: 3.5rem;
  height: 3rem;
  color: #294397;
  font-family: 'Adventure';
  box-shadow:  3px 4px 0 black;;
  background: #fec304;
  backdrop-filter: blur(1px);
  transition: .2s ease-in-out all;
  padding-left: 1px;
  cursor: pointer;
}

.filter_buttons:focus{
  box-shadow: none;
}

.progress{
  position: relative;
  height: 10px;
  width: 20rem;
  border: 10px solid #fec304;
  border-radius: 15px;
  background-color: #fec304;
  padding-bottom: 7px;
}
.progress .color{
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 4s infinite linear;    
}
@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
};

