.searchbar_container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    height: 43px;
    display: flex;
	justify-content: center;
	background: #fec304;
	color: rgb(200,200,200);
	padding: 15px 0;
    border-radius: 4px;
    box-shadow: 13px 7px 2px 0px rgb(36 64 148 / 50%);
	box-sizing: content-box;
    gap: 2rem;
    flex-wrap: wrap;
}

.types_button{
    background-color: white;
    padding: 1rem;
}

